[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

unicodecsv = "*"
pymongo = "*"
flask = "*"
bcrypt = "*"
datetime = "*"
uuid = "*"
parsedatetime = "*"
requests = "*"
"bs4" = "*"


[requires]

python_version = "3.5"
