{% extends "base.html" %}
{% block content %}
<div class="container page-form">
    <form id="login-form" action="/adduser" method="POST">
        <div class="form-group">
            <label for="userid">Userid</label>
            <input type="text" id="uid" class="form-control" name="uid">
        </div>
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" id="uname" class="form-control" name="uname">
        </div>
        <div class="form-group">
            <label for="phone">phone</label>
            <input type="text" id="phone" class="form-control" name="phone">
        </div>
        <button type="submit" class="btn btn-success">add</button>
    </form>
</div>
{% endblock %}
